.container {
    height: calc(100vh - 70px);
    overflow-y: auto;

    &::-webkit-scrollbar {
        width: 6px;
        border-radius: 6px;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(0, 0, 0, 0.2);
    }
}

.content {
    display: flex;
    justify-content: flex-start;
    width: 100%;


}

.divider {
    margin:  0, 10px;
    border-top: solid 1px #ddd;
}