// div 

.container{
    height: 65px;
    background-color: #f0f2f5;
    padding: 10px 16px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 1px 2px #0003;
    z-index: 1;
}

// div user info

.user_info {
    display: flex;
    align-items: center;

    svg {
        width: 30px;
        height: 30px;
        background-color: #ccc;
        border-radius: 50%;
        margin-right: 10px;
        min-width: fit-content;
    }
}

// div name_content

.name_content {
    display: grid;
}

// span 

.name {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

// img 

.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    min-width: fit-content;
}

// div option

.option {
    display: flex;
    gap: 10px;

    svg {
        width: 24px;
        height: 24px;
        color: #54656f;
        cursor: pointer;
    }
}