//div
.container {
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 15px 20px;
    cursor: pointer;

    &:hover {
        background-color: #f0f2f5;
    }

    svg {
        width: 30px;
        height: 30px;
        background-color: #ccc;
        border-radius: 50%;
        margin-right: 10px;
        min-width: fit-content;
    }

    &.active {
        background-color: #f0f2f5;
    }
}
// span
.name {
    font-size: 18px;
    overflow: hidden;
    text-overflow: ellipsis;
}

//img
.avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
    min-width: fit-content;
}


.delete {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px ;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
        background-color: #948f8f;
    }
}

